node_modules
.env

# Build directories
/frontend/build
build/

# Dependencies lock files
package-lock.json
*/package-lock.json

# Logs
*.log

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
